body, h1 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.site-header {
    background-image: url('../pictures/Shutterstock_1716008023.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    color: #000000;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header h1, .site-header p, .site-header a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.site-header h1 {
    font-size: 2.5em;
}

.map-placeholder {
    width: 40%;
    height: 400px;
}

#contentContainer {
    display: flex;
    justify-content: space-between;
}

#flamingosMap, #locationDistributionChart {
    flex: 1;  /* This ensures both take up equal width */
    margin: 10px;  /* Optional: for some spacing between them */
}

#flamingosMap {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.controls {
    flex: 0 0 200px; /* fixed width of 200px */
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between controls */
}

.visualization {
    flex: 7; /* take up 60% of the available space */
    height: 500px;
    overflow: visible;
    margin-right: 20px; /* space between visualization and description */
}

.description {
    flex: 8; /* take up 20% of the available space */
    height: 400px;
    overflow: auto;
}
